.about {
  h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    margin: 0;
    text-align: center;
  }
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
