.GuessingGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    width: 50px;
  }
  &__item {
    &.guessed {
      text-decoration: line-through;
    }
    &.awaiting {
      display: none;
    }
    &.current {
    }
  }
}
